.main{
    height: 100vh;
    width: 100vw;
    z-index: 0;
    position: relative;
}

h1{
    z-index: 2;
    color: red;
    margin: auto;
    padding-top: 5vh;
    font-family: 'Sen', sans-serif;
    text-shadow: 3px 3px 4px rgb(109, 1, 1);
}

h3{
    font-size: 1rem;
    font-family: 'Share Tech Mono', monospace;
    color: white;
    padding: 10px 20px;
    background: black;
    margin: 5vh auto;
    align-self: center;
    width: 40%;
}


img{
    position: fixed;
    left: 0;
    bottom: 5vh;
    height: 30vh;
}

p{
    width: 40vw;
    height: 15vh;
    font-family: 'Share Tech Mono', monospace;
    color: rgb(4, 165, 4);
    background: #000;
    position: fixed;
    bottom: 10vh;
    left: 20vw;
    padding: 10px;
    text-align: left;
}