.gameBoard{
  position: relative;
  height: 60vh;
  width: 66vw;
  margin: auto;
  border: 1px solid green;
} 
/* needs set width, height because this is what player is set relative to */


.map_display{
  position: relative;
  display: flex;
  margin: auto;
  border: 1px solid yellow;
}


.tile{
  display: flex;
}

.path{
  background-color: rgb(92, 13, 13);
}

.dirt{
  background-image: url('../../images/red-dirt.jpg');
}

.metal{
  background-image: url('../../images/metal-1.jpg')
}
.crystal{
  background-image: url('../../images/crystal.jpg')
}
.lava{
  background-image: url('../../images/lava.jpg')
}