.gameBoard{
  position: relative;
  height: 60vh;
  width: 66vw;
  margin: auto;
  background: url('http://marsxplr.com/_upl/Christian4Macfloor-orig.jpg ');
}


.map_display{
  position: relative;
  display: flex;

  height: 60vh;
  width: 66vw;
  margin: auto;
}

.map_display .container-fluid{
  padding: 0 0;
}

.map_display .row{
  margin: auto;
  height: 20vh;
  width: 66vw;
}
  
.map_display .col-xs{
    width: 22vw;
    height: 20vh;
    color: #fff;
    font-size: .7rem;
    text-align: center;
  }

.isRoom{
  background-color: rgb(92, 13, 13);
}

.tile{
  display: flex;
}

.path{
  background-color: rgb(92, 13, 13);
}

.metal{
  background-image: url('../../images/metal-1.jpg')
}
.crystal{
  background-image: url('../../images/crystal.jpg')
}
.lava{
  background-image: url('../../images/lava.jpg')
}