
.map_display{
  height: 60vh;
  width: 66vw;
  margin: auto;
  background: url('http://marsxplr.com/_upl/Christian4Macfloor-orig.jpg ');
}

.map_display .row{
  margin: auto;
  height: 20vh;
  width: 65vw;
  border: 2px solid pink;
}
  
.map_display .col-xs{
    width: 22vw;
    height: 20vh;
    color: #fff;
    font-size: .7rem;
    text-align: center;
  }

  .isRoom{
    background-color: rgb(92, 13, 13);
  }
